{% extends 'base.html' %}

{% block title %}{{ page.name }} Detail{% endblock %}

{% block content %}
    <h1>{{ page.name }}</h1>
    <p><strong>Description:</strong> {{ page.description }}</p>
    <div class="product-list">
        {% for product in products %}
            <div class="product">
                <h3><a href="{% url 'products:product-detail' page_id=product.page.id product_id=product.id %}">{{ product.name }}</a></h3>
                <p>{{ product.description }}</p>
                <p>Price: ${{ product.price_discount }}</p>

                {% for image in product.images_set.all %}
                    <img src="{{ image.image.url }}" alt="{{ product.name }} Image">
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <a href="{% url  'products:product-create' page_id=page.id %}">create a new product</a>
{% endblock %}
